@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: light --default;
}


body {
    font-family: "JetBrains Mono", monospace;

}

html {

    background-color: oklch(99% 0 0);
    background-image: radial-gradient(oklch(90% 0 0) 1px,
            transparent 1px);
    background-size: 20px 20px;

    --color-primary: #db4f1d
}