@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: light --default;
}


body {
    font-family: "JetBrains Mono", monospace;

}

html {

    scroll-behavior: smooth;

    background-color: oklch(99% 0 0);
    background-image: radial-gradient(oklch(90% 0 0) 1px,
            transparent 1px);
    background-size: 20px 20px;

    --color-primary: #db4f1d;
    --color-primary-content: #ffffff;
    --color-neutral-content: #ffffff;
    --color-secondary: #24B0E2;
    --color-secondary-content: #ffffff;
}

h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: 5rem;
}